/*Panel*/
.horizontal{
    position: relative;
    margin: 5px 0 5px 5px;
    padding-bottom: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    float: left;
}

/*Toolbar*/
.toolbar.horizontal {
    position: fixed;
    width:60px;
    height: 95%;
}
.panel-body.toolbar {
    padding: 3px 3px 10px 3px;
}