/*Panel*/
.horizontal{
    position: relative;
    margin: 5px 0 5px 5px;
    padding-bottom: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;
}
.panel {
    border-radius: 0px;
}

/*TileContainer*/
.tileContainer.horizontal {
    width: 500px;
    padding: 5px;
}
.panel-body.tile {
    padding:3px;
}
.panel-heading.tile {
    padding: 0px;
}
#map {
    height: 300px;
}
.row.tile {
    margin-right: 0px;
    margin-left: 0px;
}
.col-xs-6.tile{
    padding-right: 2px;
    padding-left: 2px;
}


/*Toolbar*/
.toolbar.horizontal {
    width:60px;
    overflow: hidden;
}
.panel-body.toolbar {
    padding: 3px 3px 10px 3px;
}